<blockquote class="blockquote mb-0">
       <p><%= comment.content %></p>
      <footer class="blockquote-footer text-white" style="font-size: 12px;">Posted by: <cite title="Source Title"><%= comment.user.email%><%= time_ago_in_words(@message.created_at)%></cite> ago</footer>
</blockquote>
<% if user_signed_in? %>
    <% if comment.user_id == current_user.id %>
        <%= link_to 'Edit', edit_message_comment_path(comment.message, comment), class: 'link-info mt-1' %>
        <%= link_to 'Delete', message_comment_path(comment.message, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-danger mt-1 mx-1' %>
    <% end %>
<% end %>
<hr class="border border-1 opacity-50">

 